#imagen_logo{
  height: 100px;
  width: 150px;
  padding-bottom: 2%;
margin-bottom: 1%;
}
.nombre{
  padding-top: 10%;
  font-size: 2.0rem;
}

.span{
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
  color: blue;
}
  header{
  width: 100%;
}
main{
  width: 100%;
}
.btn-outline-success {
  color: blue;
}
.a{
  color:blue;
}
#seccion2,#seccion3{
  background-color:#f8f9fa;
}
#seccion8,#seccion2{
  border-bottom: 2px solid #424242;
}
#seccion7{
  padding-top: 10%;
}
.container-color2{
  background-color: #f8f9fa;
}
.container-color {
  background-color: #f8f9fa;
}
#invitacion{
  margin-top: -4%;
  width: 200px;
  height: 200px;
}
.titulos{
  margin-bottom: 2%;
  text-align: center;
  font-family: fantasy;
}
.titulo3{
  text-align: center;
  color: blue;
}

.media{
padding-top: 5%;
padding-bottom: 2%;
}

#guia{
width: 100%;
height: 300px;
}
#quienessomos{
width: 100%;
height: 300px;
}
#invi{
  width: 100%;
  height: 300px;
}
#galeria-cursos{
width: 100%;
max-width: 960px;
}
#seccion-cursos{
  margin-top: 2%;
  width: 100%;
}
.texto{
  margin:5%;
  padding-right: 7%;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

.curso-imagen{
  width: 90%;
height: 300px;
}
#patrocinadores{
  padding-left: 2%;
}
.rounded-circle{
  height: 50px;
  width: 50px;
  margin:1%;
}
h5{
  font-weight: bold;
}


hr{
 width: 60px;
 border: 1px solid black;
}
.enlances{
  padding-left: 5%;
}
h4{
    padding-bottom: 5%;
   padding-top: 5%;
   font-style: italic;
  }
  p{
    font-weight: bold;
    font-style: italic;
  }
footer{
  width: 100%;
}
.container-3{
  padding-top: 1%;
}
.redes{
  font-weight: bold;
  color:blue;
  padding-left: 5%;
}
.container-color7{
  background-color: #424242;
}
.container-color4{
  background-color: #D3D3D3;
}
.container-color5{
  background-color:#D3D3D3;
}
.form-inline{
  padding-right: 50%;
}

.imagenes_{
  width: 100%;
  height: 425px;
}
.galeria-imagenes{
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 5%;
  max-width: 95%;
}
.container-imagenes{
  background-color: #f8f9fa;
}
#seccion1{
  margin-top: 2%;
}
.c-color{
    background-color: #f8f9fa;
}
.texto2{
padding-left: 20%;
}

.text{
    border: 0px;
}
.text1{
  padding-left: 5%;
  max-width: 200px;
}
.t{
  padding-left: 5%;
}
.quienes-somos{
padding-left: 12%;
}

@media (max-width: 576px) {
.formulario_nav{
  display: none;
}
.imagenes-section{
  display: none;
}
.img{
  display: none;
}
.navbar-header{
 padding-top: 1%;
  margin-right: 30%;
}
.formulario_inscripciones{
  padding-top: 8%;
}

.imagenes_ {
  width: 100%;
  height: 150px;
}
#imagen_logo{
display: none;
}
span{
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
}
.quienes_somos{
display: none;

}

.patrocinadores{
  margin-left: 23%;
}
#invitacion{
  height: 100px;
  width: 100px;
margin: auto;
padding: auto;
}
.seccion2{
  margin-top: -2%;
}
article{
  width: auto;
  height: auto;
  margin-left: 2%;
}
#titulo5{
  font-size: 1.5rem;
}
.contenido-seccion3{
  font-style: italic;
  font-size: 20%;
  font-weight: bold;
}
#aprendizaje{
  width: 60px;
  height: 60px;
}
#cursos{
  width: 60px;
  height: 60px;
}
.Cursos{
margin-right: 40%;

}
#id{
  margin-right: 5%;
}
.curso-imagen {
    width: 90%;
    height: 300px;
    margin-left: 6%;
}
a{
  text-decoration-style: none;
}

}
